@import '../base/variables';
@import '../base/extend';

footer{
    div.footer{
        background: $bg-footer;
        min-width: 30px;
        padding: 5px;
        margin-top: 20px;
    }
    @media screen and (max-width: 480px){
        min-width: 30px;
        padding: 5px;
    }
}

footer.footer-container{
    @media screen and (max-width: 480px){
        margin-top: 4000px;
    }

}