
$bg-image: url(../Images/gral/fondo.jpg);

$bg-color: linear-gradient(to bottom, rgb(165, 98, 59), rgb(238, 213, 140) );

$bg-media: linear-gradient(to bottom , rgb(238, 213, 140), rgb(194, 115, 70) );


$border-carrusel-inner: 2px solid rgb(173, 94, 49);

$bg-carrusel-inner:linear-gradient(to bottom , rgb(238, 213, 140), rgb(194, 115, 70) ); 


$border-navbar: 1px solid rgb(173, 94, 49);

$border-logo: 2px solid rgb(173, 94, 49);

$border-grid-productos:  4px solid rgb(173, 94, 49);


$bg-encabezado:linear-gradient(to bottom , rgb(238, 213, 140), rgb(194, 115, 70) );

$border-encabezado: 2px solid rgb(173, 94, 49);


$bg-footer:rgba(185, 102, 6, 0.521);
